@import "~bootstrap/scss/bootstrap";

@import "./DragAndDrop/index.scss";

html, body, #root, #root > div {
    height: 100%
}

.card {
    max-width: 320px;
}

.mh-30 {
    min-height: 30%;
}

.mh-150px {
    min-height: 150px;
}